@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');

*{
  font-family: 'Open Sans', sans-serif !important;
}

input{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}
input:focus , .ant-picker{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}
label{
  font-size: 16px !important;
  color: black !important;
}
.ant-form-item{
  margin: 10px 0 !important;; 
}
.ant-picker-input input{
  border: none !important;
}
.ant-picker{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}
.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.spinner-border{
  width: 5rem;
  height: 5rem;
  color: white !important;
}
.page-title{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.833);
  font-weight: bold;
}
.card-title{
  font-size: 22px;
  font-weight: bold;
  color: cadetblue;
}
.normal-text{
  font-size: 1rem;
}

.card{
  box-shadow: 0 0 2px gray;
  border-radius: 0 !important;
}
.primary-button{
  background-color: lightsteelblue !important;
  border-color: lightsteelblue !important;
  height: 40px !important;
  width: 100% !important;
  color: white !important;
  font-size: 16px !important;
  width: max-content !important;
}

.full-width-button{
  width: 100% !important;
}
p{
  color: rgba(0, 0, 0, 0.673) !important;
  padding: 0 !important;
  margin: 0 !important;
}

.anchor{
  color: black !important;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px !important;
}
.anchor:hover{
  text-decoration: underline !important;
}

.cursor-pointer{
  cursor: pointer;
}

.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: lightsteelblue;*/
  background-image: url("./image/FVLogo.png");
}

.authentication-form{
  width: 400px;
}

.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: cadetblue;
  color: white !important;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-left: -40px;
  border-bottom-left-radius: 10px;  
}


