.main{
    padding: 20px;
}
.logo-img{
    border-radius: 25px;
}
.logo {
    margin-top: 30px;
    margin-left: 20px;
}
.role{
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 30px;
    color: lightpink;
}
.sidebar{
    background-color: cadetblue;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    min-height: 100%;
    padding: 10px;
}
 .content{
    width: 100%;
    height: 100%;
 }
.header{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body{
    background-color: white;
    background-image: url("./image/animals.jpg");

    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    height: 82vh;
    width: 100%;
    padding: 15px;
}

.menu{
    margin-top:100px;
    padding:0 10px;
}
.menu-item{
    margin-top: 30px;
    
}
.menu-item a{
    color: rgba(255, 255, 255, 0.727);
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}
.menu-item i{
    color: rgba(255, 255, 255, 0.716);
    text-decoration: none;
    font-size: 18px;
    margin:0 15px;
}

.active-menu-item{
    color: white;
    background-color: #013737;
    padding: 5px;
    border-radius: 5px;
}

.header-action-icon{
    font-size: 30px;
    color: black !important;
    cursor: pointer;
    padding-left: 10px;
}
.ant-badge-count{
    padding-right: -10px !important;
    padding-bottom: -10px !important;
}
@media screen and (max-width: 768px){
  
    .menu{
        padding: 0 5px;
    }
    
}